<div>

  <h3><%= resource['title'] %> (<%= (0..3).map{|n| resource["id_#{n}"]}.compact.join('-') %>)</h3>

  <% if series %>
    <h4><%= series %></h4>
    <h5><%= record.display_string %></h5>
  <% else %>
    <h4><%= record.display_string %></h4>
  <% end %>

  <% mapper = AeonRecordMapper.mapper_for(record) %>
  <% if mapper.hide_button? || !mapper.show_action? %>
    <div class="alert alert-warning"><%= t('plugins.aeon_fulfillment.request_unavailable_warning') %></div>
  <% else %>
    <%= render :partial => 'aeon/aeon_request_popup', :locals => {
        :record => record,
        :mapper => mapper,
      }
    %>
  <% end %>

</div>
