<%= form_tag url_for(:controller => :aeon_request, :action => :build) do |f| %>
  <%= hidden_field_tag 'uri', record.uri %>
  <div>
    <p>
      <%= label_tag :request_type, "Request Type", :class => 'sr-only' %>
      <%= select_tag :request_type, options_for_select(request_types.map{|rt|  [rt.fetch(:button_label),  rt.fetch(:request_type)] }), :class => 'form-control' %>
    </p>

    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th style="width: 20px">
            <label><input type="checkbox" id="aeonToggleAll"> <span class="sr-only">Toggle All Checkboxes</span></label>
          </th>
          <th>
            Container Details
          </th>
        </tr>
      </thead>
      <tbody>
        <% mapper.container_instances.each_with_index do |instance, index| %>
          <tr>
            <td>
              <%= check_box_tag 'instance_idx[]', index, false, :id => "aeon_instance_idx_#{index}", :class => 'aeon_instance_ckbx' %>
            </td>
            <td>
              <%= label_tag "aeon_instance_idx_#{index}", record.build_instance_display_string(instance) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>
      <button type="submit" class="btn btn-primary" id="aeonFormSubmit" disabled>
        Submit Request
      </button>
    </p>
  </div>
<% end %>
